@font-face {
  font-family: roboto-regular;
  src: font-url("Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: roboto-medium;
  src: font-url('Roboto-Medium.ttf') format('truetype');
}

$font-roboto-regular: roboto-regular;
$font-roboto-medium: roboto-medium;