/* Mixins */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow() {
    -webkit-box-shadow: 2px 2px 5px $black;
    -moz-box-shadow: 2px 2px 5px $black;
    box-shadow: 2px 2px 5px $black;
}

@mixin transition() {
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
}