.btn{
  padding: 10px 16px;
  font-size: 14px;
  font-family: $font-roboto-regular;
  box-shadow: 3px 3px 5px rgba(#333, 0.8);
  @include border-radius(8px);
  @include transition(all, 0.3s, ease-out);

  &:hover{
    box-shadow: 1px 1px 5px rgba(#333, 0.8);
  }
}

.btn--primary{
  background: $color-white--light;
  color: $primary-color;
}

.btn--secondary{
  background: $primary-color;
  color: $color-white--light;
}