.nav {
  .nav__link {
    font-size: $fs-nav;
    padding: 16px;
    color: $color-white--light;
    font-family: $font-roboto-regular;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
      color: rgba($color-white--light, 0.5);
    }
  }
  .open-nav{
    display: none;
  }

  @include breakpoint($tablet) {
    .nav__link{
      display: none;
    }
    .open-nav{
      display: block;
    }
  }
}

.mobile-nav {
  position: absolute;
  right: 0;
  width: 0;
  color: $color-white--light;
  height: 100%;
  font-family: $font-roboto-regular;
  @include background-linear-gradient(to bottom, $primary-color, $secondary-color);
  box-shadow: -3px 0 5px rgba(#333, .3);
  @include transition(width, 0.3s, ease-in);

  .img {
    width: 96px;
    @include border-radius(50%);
  }
  span{
    display: block;
    padding: 16px;
  }

  .close-nav{
    font-size: 150%;
    position: relative;
    left: 92%;
    color: rgba($color-white--dark, .8);
    @include transition(all, 0.3s, ease-in);

    &:hover{
      color: $color-white--light;
    }
  }

  .mobile-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    .--details {
      margin-left: 8px;
    }
    .mobile-nav__name {
      font-family: $font-roboto-medium;
    }
    .mobile-nav__role {
      color: rgba($color-white--light, 0.8);
    }
  }

  .hr {
    border: thin solid rgba($color-white--dark, 0.5);
  }

  .nav {
    text-align: center;
    .nav__link {
      display: block;
    }
  }

  .mobile-nav__contacts {
    text-align: center;
    .fa, .fab, .mobile-nav__contact {
      color: rgba($color-white--dark, .6);
      @include transition(all, 0.3s, ease-in-out);
      padding: 8px 0 0 0;
      font-size: $fs-nav;
      &:hover {
        color: $color-white--dark;
      }
    }
    .fab {
      font-size: 150%;
      margin: 8px
    }
  }
}