.content{
  font-family: $font-roboto-regular;
  font-size: $fs-nav;
  color: rgba(#333, 0.8);
}

.subheading-1{
  font-size: $fs-h2;
  font-family: $font-roboto-medium;
}
.subheading-2 {
  font-size: $fs-p;
  font-family: $font-roboto-medium;
}