/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: roboto-regular;
  src: url('../fonts/Roboto-Regular.ttf?1357678800') format("truetype");
}
@font-face {
  font-family: roboto-medium;
  src: url('../fonts/Roboto-Medium.ttf?1357678800') format("truetype");
}
/* Transition Mixin */
/* Background Linear Gradient */
/* Border Radius */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, ../sass/generic/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, ../sass/generic/_normalize.scss */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 32, ../sass/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 45, ../sass/generic/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 56, ../sass/generic/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 68, ../sass/generic/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 77, ../sass/generic/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 87, ../sass/generic/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 97, ../sass/generic/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 108, ../sass/generic/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 117, ../sass/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 125, ../sass/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 129, ../sass/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 140, ../sass/generic/_normalize.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 152, ../sass/generic/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 168, ../sass/generic/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 178, ../sass/generic/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 187, ../sass/generic/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 198, ../sass/generic/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 210, ../sass/generic/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 221, ../sass/generic/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 232, ../sass/generic/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 245, ../sass/generic/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 253, ../sass/generic/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 262, ../sass/generic/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 272, ../sass/generic/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 282, ../sass/generic/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 291, ../sass/generic/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 300, ../sass/generic/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 312, ../sass/generic/_normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 320, ../sass/generic/_normalize.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 331, ../sass/generic/_normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 339, ../sass/generic/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/generic/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/generic/_reset.scss */
a {
  text-decoration: none;
  display: inline-block;
}

/* line 8, ../sass/generic/_reset.scss */
img {
  width: 100%;
  object-fit: contain;
}

/* line 1, ../sass/objects/_layout.scss */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 2, ../sass/components/_nav.scss */
.nav .nav__link {
  font-size: 16px;
  padding: 16px;
  color: #f4f4f4;
  font-family: roboto-regular;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 9, ../sass/components/_nav.scss */
.nav .nav__link:hover {
  color: rgba(244, 244, 244, 0.5);
}

/* line 1, ../sass/components/_buttons.scss */
.btn {
  padding: 10px 16px;
  font-size: 14px;
  font-family: roboto-regular;
  box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 9, ../sass/components/_buttons.scss */
.btn--primary {
  background: #f4f4f4;
  color: #008ced;
}

/* line 14, ../sass/components/_buttons.scss */
.btn--secondary {
  background: -webkit-linear-gradient(to right, #008ced, #9b59b6);
  background: -moz-linear-gradient(to right, #008ced, #9b59b6);
  background: -ms-linear-gradient(to right, #008ced, #9b59b6);
  background: -o-linear-gradient(to right, #008ced, #9b59b6);
  background: linear-gradient(to right, #008ced, #9b59b6);
  color: #f4f4f4;
}

/* line 1, ../sass/components/_typography.scss */
.content {
  font-family: roboto-regular;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
}

/* line 7, ../sass/components/_typography.scss */
.subheading-1 {
  font-size: 32px;
  font-family: roboto-medium;
}

/* line 11, ../sass/components/_typography.scss */
.subheading-2 {
  font-size: 24px;
  font-family: roboto-medium;
}

/* line 1, ../sass/pages/_pages.scss */
.landing {
  background: -webkit-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -moz-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -ms-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -o-linear-gradient(to bottom, #008ced, #9b59b6);
  background: linear-gradient(to bottom, #008ced, #9b59b6);
  height: 100vh;
  max-height: 100vh;
}
/* line 6, ../sass/pages/_pages.scss */
.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}
/* line 13, ../sass/pages/_pages.scss */
.landing .navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* line 19, ../sass/pages/_pages.scss */
.landing .navbar .logo {
  width: 64px;
  height: 64px;
}
/* line 25, ../sass/pages/_pages.scss */
.landing .jumbotron {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #f4f4f4;
  font-family: roboto-regular;
}
/* line 32, ../sass/pages/_pages.scss */
.landing .jumbotron .jumbotron__greetings, .landing .jumbotron .jumbotron__role, .landing .jumbotron .jumbotron__caption {
  margin-bottom: 16px;
}
/* line 35, ../sass/pages/_pages.scss */
.landing .jumbotron .jumbotron__greetings {
  font-size: 56px;
  font-family: roboto-medium;
}
/* line 39, ../sass/pages/_pages.scss */
.landing .jumbotron .jumbotron__role {
  font-size: 32px;
  font-family: roboto-medium;
  color: rgba(244, 244, 244, 0.8);
}
/* line 44, ../sass/pages/_pages.scss */
.landing .jumbotron .jumbotron__caption {
  font-size: 24px;
  color: rgba(244, 244, 244, 0.6);
}
/* line 48, ../sass/pages/_pages.scss */
.landing .jumbotron .jumbotron__image {
  width: 350px;
}
/* line 53, ../sass/pages/_pages.scss */
.landing .bottom-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* line 58, ../sass/pages/_pages.scss */
.landing .bottom-nav .fa-chevron-down {
  color: #f7f7f7;
}

/* line 64, ../sass/pages/_pages.scss */
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f7f7f7;
}
/* line 69, ../sass/pages/_pages.scss */
.about .about__image {
  width: 40%;
  position: relative;
}
/* line 72, ../sass/pages/_pages.scss */
.about .about__image .img-overlay {
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
  transition: .5s ease;
  background: -webkit-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -moz-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -ms-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -o-linear-gradient(to bottom, #008ced, #9b59b6);
  background: linear-gradient(to bottom, #008ced, #9b59b6);
  opacity: 0.8;
}
/* line 87, ../sass/pages/_pages.scss */
.about .about__content {
  flex: 1;
  text-align: center;
  padding: 16px;
}
/* line 92, ../sass/pages/_pages.scss */
.about .about__content .about__title {
  color: #008ced;
}
/* line 96, ../sass/pages/_pages.scss */
.about .about__content .btn {
  margin: 8px;
}

/* line 102, ../sass/pages/_pages.scss */
.projects {
  background: #f7f7f7;
  padding: 24px 0;
}
/* line 105, ../sass/pages/_pages.scss */
.projects .projects_head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #008ced;
  margin-bottom: 8px;
}
/* line 113, ../sass/pages/_pages.scss */
.projects .projects__projects .projects__project {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
/* line 118, ../sass/pages/_pages.scss */
.projects .projects__projects .projects__project .project__image {
  width: 50%;
}
/* line 120, ../sass/pages/_pages.scss */
.projects .projects__projects .projects__project .project__image .img {
  height: 300px;
  object-fit: contain;
}
/* line 125, ../sass/pages/_pages.scss */
.projects .projects__projects .projects__project .project__content {
  padding: 16px;
}
/* line 127, ../sass/pages/_pages.scss */
.projects .projects__projects .projects__project .project__content .subheading-2 {
  color: #008ced;
}
/* line 130, ../sass/pages/_pages.scss */
.projects .projects__projects .projects__project .project__content * {
  margin-bottom: 8px;
}

/* line 138, ../sass/pages/_pages.scss */
.services {
  display: flex;
  flex-flow: row-reverse nowrap;
}
/* line 142, ../sass/pages/_pages.scss */
.services .services__image {
  width: 40%;
  background: -webkit-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -moz-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -ms-linear-gradient(to bottom, #008ced, #9b59b6);
  background: -o-linear-gradient(to bottom, #008ced, #9b59b6);
  background: linear-gradient(to bottom, #008ced, #9b59b6);
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
}
/* line 150, ../sass/pages/_pages.scss */
.services .services__content {
  padding: 16px 0;
}
/* line 152, ../sass/pages/_pages.scss */
.services .services__content .subheading-1 {
  color: #008ced;
}
/* line 156, ../sass/pages/_pages.scss */
.services .services__content .services__service {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 16px 0;
  box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.1), -3px -3px 5px rgba(51, 51, 51, 0.1);
  display: flex;
  align-items: center;
  padding: 8px;
}
/* line 164, ../sass/pages/_pages.scss */
.services .services__content .services__service .services__desc {
  margin: 0 8px;
}
/* line 168, ../sass/pages/_pages.scss */
.services .services__content .services__service:last-child {
  flex-direction: row-reverse;
}
