/* Transition Mixin */
@mixin transition($property, $time, $mode){
  -webkit-transition: $property $time $mode;
  -moz-transition: $property $time $mode;
  -ms-transition: $property $time $mode;
  -o-transition: $property $time $mode;
  transition: $property $time $mode;
}

/* Background Linear Gradient */
@mixin background-linear-gradient($direction, $color1, $color2){
  background: -webkit-linear-gradient($direction, $color1, $color2);
  background: -moz-linear-gradient($direction, $color1, $color2);
  background: -ms-linear-gradient($direction, $color1, $color2);
  background: -o-linear-gradient($direction, $color1, $color2);
  background: linear-gradient($direction, $color1, $color2);
}

/* Border Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}